@model ResumeManager.Models.Applicant

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Attention</h1>

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.Name) ??!!</h3>
<div class="row card-header">
        <div class="col-sm-4">

            <label class="col-sm-4 m-2">Name:</label>
            <span class="display-name col-sm-10">
            @Html.DisplayFor(model => model.Name)
            </span>
            <br />
            <label class="col-sm-4 m-2">Gender:</label>
            <span class="display-name col-sm-10">
            @Html.DisplayFor(model => model.Gender)
           </span>
           <br />
           <label class="col-sm-4 m-2">Age:</label>
           <span class="display-name col-sm-10">
            @Html.DisplayFor(model => model.Age)
           </span>
           <br />
            <label class="col-sm-4 m-2">Qualification:</label>
            <span class="display-name col-sm-10">
            @Html.DisplayFor(model => model.Qualification)
            </span>
            <br />
           <label class="col-sm-4 m-2">TotalExperience:</label>
           <span class="display-name col-sm-10">
            @Html.DisplayFor(model => model.TotalExperience)
           </span>
           <br />
         </div>

        <div class="col-sm-4">
        <img src="~/Images/@Model.PhotoUrl" style="width:200px; border-color:blue;" />
        </div>

    <div class="card-footer Info card">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
            <input type="button" class="btn btn-primary" value="Back to List" onclick="location.href='@Url.Action("Index", "Resume")'" />
       
    </form>
    </div>
</div>
